body{
    margin: 0 auto;
    background-color: #a8b5c4;
    font-family: 'Roboto';
}
header{
    position: fixed; 
    z-index: 1;
    width: 100%;
    background-color: gainsboro;
    height: 50px;
}
header a{
    font-size: 20px;
    float: right;
    padding: 14px;
    color: #00476b;
    text-decoration: none;
}
header .nuwm{
    float: left;
    padding: 5px;
}   
header .nuwm img{
    height: 45px; 
}
section{
    background-color: darkgrey;
    padding-top: 70px;
    padding-bottom: 90px;
    position: relative;
}
section img{
    margin-top: 10px;
    position: absolute;
    display: inline-block;
    border: 4px solid grey;
    margin-left: 30px;
    width: 270px;
    height: 270px;
}
section ul{
    margin-top: 10px;   
    margin-left: 280px;
}
section ul button{
    position: absolute;
    height: 30px;
    background-color: gray;
    border: 4px solid grey;
    border-radius: 40px;
    margin-left: 80px;
    margin-top: -30px;
}
section button{
    height: 30px;
    background-color: gray;
    border: 4px solid grey;
    border-radius: 40px;
    margin-left: 130px;
    margin-top: 45px;
}
section p{
    font-size: 12px;
}
footer{
    background-color: #a8b5c4;
    height: 130px;
}
footer .facebook{
    float: right; 
    padding-top: 30px;
}
footer .info{
    float: left;
    padding-top: 5px;
}
footer .info img{
    height: 110px;
    float: left;
    margin-right: 10px;
}